html {
	background-color: rgb(0, 113, 49);
}

.Deck {
	text-align: center;
}

.Deck-autodraw-btn {
	padding: 15px;
	background-color: black;
	color: white;
	border-radius: 8px;
	border: none;
	margin: 0 10px;
	margin-top: 125px;
	margin-bottom: -25px;
}

.Deck-draw-btn:hover {
	cursor: pointer;
	background-color: rgb(147, 138, 138);
}

.Deck-draw-btn:active,
.Deck-draw-btn:focus {
	outline: none;
}
.Deck-display {
	margin-top: 150px;
}
